@font-face {
  font-family: "Fira-Sans";
  src: url(../assets/fonts/FiraSans/FiraSans-Regular.ttf) format("truetype"),
    url(../assets/fonts/FiraSans/FiraSans-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Gentium";
  src: url(../assets/fonts/Gentium/GentiumPlus-R.ttf) format("truetype"),
    url(../assets/fonts/Gentium/GentiumPlus-R.woff2) format("woff2");
}
:root {
  --font-color: #fff;
  --blocks-bgcolor: #020718;
  --orange-font-color: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
html {
  overflow-x: hidden;
  overscroll-behavior: none;
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
body {
  background-color: #131c3b;
  font-family: "Fira-Sans", sans-serif;
}
/* Стилизация шапки */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
}
.header-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.header-tel-location-block {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.location-block {
  display: flex;
}
.location-block {
  cursor: pointer;
}
.location-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--font-color);
  font-size: 20px;
}
.number-link {
  color: var(--font-color);
  font-size: 24px;
  white-space: nowrap;
}
.header-main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blocks-bgcolor);
  width: 100%;
  border-bottom: 1px solid var(--font-color);
}
.header-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  padding: 30px 10px;
}
.logo-block {
  width: max-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.logo-text {
  color: var(--font-color);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 56px;
  white-space: nowrap;
  letter-spacing: 0;
}
.logo-text span {
  color: var(--orange-font-color);
  font-weight: bold;
}

.search-block {
  max-width: 720px;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 15px;
}
.search-wrapper {
  position: relative;
  width: 100%;
}

.search-input {
  width: 100%;
  height: 65px;
  font-size: 32px;
  padding-left: 20px;
  padding-right: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.search-input::placeholder {
  color: #383131;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.menu {
  width: max-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
  color: var(--font-color);
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  white-space: nowrap;
  transition: 0.3s ease;
}
.menu-link:hover {
  color: var(--orange-font-color);
}

/* Стилизация карточки товара */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--font-color);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.card-container {
  display: flex;
  align-items: start;
  gap: 60px;
  max-width: 1440px;
  width: 100%;
  height: max-content;
  padding: 70px 10px;
  background-color: #fff;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.card-image-block {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 35px;
  width: 35%;
}
.image-slider {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
  width: 20%;
  height: 100%;
}
.slider-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #000;
  border-radius: 8px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.main-slider-image {
  width: 100%;
  min-width: 200px;
  max-width: 500px;
  object-fit: contain;
  border: 1px solid #000;
  border-radius: 8px;
}
.product-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 65%;
}
.product-sale {
  color: var(--font-color);
  background-color: var(--orange-font-color);
  font-size: 25px;
  text-align: center;
  padding: 12px 23px;
  margin-bottom: 10px;
}
.product-name {
  font-size: 38px;
  margin-bottom: 10px;
}
.price-and-btns {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 14px;
  margin-bottom: 20px;
}
.price {
  font-size: 38px;
}
.cart-btn,
.favourite-btn {
  cursor: pointer;
}
.cart-btn .cart-color {
  transition: fill 0.3s ease-in-out;
  fill: transparent;
}
.cart-btn:hover .cart-color {
  fill: #ff0000;
}
.favourite-btn {
  cursor: pointer;
}

.favourite-btn path {
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
  fill: transparent;
  stroke: #ff0000;
}

.favourite-btn:hover path {
  fill: #ff0000;
}

.favourite-btn.active path {
  fill: #ff0000 !important;
  stroke: #ff0000 !important;
}
.stars-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.stars{
  cursor: pointer;
}
.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews-text {
  font-size: 28px;
  color: #383131;
  cursor: pointer;
}
.color-set {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.color-set-title {
  font-size: 28px;
  margin-bottom: 10px;
}
.color-set-title span {
  font-size: 22px;
  margin-bottom: 7px;
}
.color-set-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.set-btn {
  width: 32px;
  height: 32px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.black {
  background-color: #000;
}
.red {
  background-color: #a20204;
}
.pink {
  background-color: #f19bc9;
}
.about-product {
  max-width: 600px;
  width: 100%;
}
.about-product-title {
  font-size: 28px;
  margin: 26px 0 7px 0;
}
.info-items {
  display: flex;
  flex-direction: column;
  gap: 2px;
  max-width: 400px;
}
.info-item {
  display: flex;
  align-items: center;
  justify-content:space-between;
  gap: 30px;
}
.info-item-type {
  font-size: 18px;
  color: #606060;
  white-space: nowrap;
  text-align: left;
}
.info-item-object {
  font-size: 20px;
  text-align: left;
  max-width: 90px;
  width: 100%;
  color: #383131;
  white-space: nowrap;
}
.buy-btn {
  background-color: var(--orange-font-color);
  color: var(--font-color);
  padding: 10px 25px;
  font-size: 20px;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  margin-bottom: 20px;
  border: none;
  outline: none;
}
.buy-btn:hover {
  background-color: #c40303;
}

@media (max-width: 1200px) {
  .card-container {
    gap: 40px;
    padding: 50px 10px;
  }

  .main-slider-image {
    max-width: 500px;
  }

  .product-name {
    font-size: 32px;
  }

  .price {
    font-size: 32px;
  }
  .slider-image {
    width: 90px;
    height: 90px;
  }
}

/* Для экранов до 992px (планшеты) */
@media (max-width: 992px) {
  .card-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px 20px;
  }

  .card-image-block {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }

  .image-slider {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 15px;
  }

  .main-slider-image {
    max-width: 100%;
  }

  .product-info {
    width: 100%;
    max-width: 100%;
  }

  .about-product {
    max-width: 100%;
  }
  .slider-image {
    width: 80px;
    height: 80px;
  }
}

/* Для экранов до 768px */
@media (max-width: 768px) {
  .card-container {
    padding: 30px 15px;
  }

  .product-sale {
    font-size: 20px;
    padding: 8px 16px;
  }

  .product-name {
    font-size: 28px;
  }

  .price {
    font-size: 28px;
  }

  .cart-btn,
  .favourite-btn {
    width: 40px;
    height: 40px;
  }

  .reviews-text {
    font-size: 24px;
  }

  .color-set-title {
    font-size: 24px;
  }

  .about-product-title {
    font-size: 24px;
  }
  .slider-image {
    width: 70px;
    height: 70px;
  }
}

/* Для экранов до 576px (мобильные) */
@media (max-width: 576px) {
  .card {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  .card-container {
    padding: 20px 10px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  .product-sale {
    font-size: 18px;
    padding: 6px 12px;
  }

  .product-name {
    font-size: 24px;
  }

  .price {
    font-size: 24px;
  }

  .price-and-btns {
    gap: 10px;
  }

  .cart-btn,
  .favourite-btn {
    width: 35px;
    height: 35px;
  }

  .reviews-text {
    font-size: 20px;
  }

  .color-set-title {
    font-size: 20px;
  }

  .color-set-title span {
    font-size: 18px;
  }

  .about-product-title {
    font-size: 20px;
  }

  .info-item-type {
    font-size: 16px;
  }

  .info-item-object {
    font-size: 18px;
  }

  .set-btn {
    width: 28px;
    height: 28px;
  }
  .slider-image {
    width: 60px;
    height: 60px;
  }
  .image-slider {
    gap: 10px;
    padding-bottom: 10px;
  }
}

/* Для очень маленьких экранов до 400px */
@media (max-width: 400px) {
  .card-container {
    padding: 15px 8px;
  }

  .product-name {
    font-size: 20px;
  }

  .price {
    font-size: 20px;
  }

  .price-and-btns {
    flex-wrap: wrap;
  }

  .info-item {
    gap: 15px;
  }

  .info-item-type {
    font-size: 14px;
  }

  .info-item-object {
    font-size: 16px;
  }
  .slider-image {
    width: 55px;
    height: 55px;
  }
}

/* Стилизация футера */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: max-content;
}
.footer-container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  padding: 50px 10px;
}
.fast-link-title {
  font-size: 32px;
  color: var(--font-color);
  font-weight: normal;
  margin-bottom: 30px;
}
.fast-links {
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex: 1;
}

.fast-link {
  color: #b1b1b1;
  font-size: 28px;
  transition: 0.3s ease;
}
.fast-link:hover,
.contacts-link:hover {
  color: var(--font-color);
}
.footer-logo-block {
  width: max-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1;
  text-align: left;
}
.footer-logo-text {
  color: var(--font-color);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 56px;
  white-space: nowrap;
  letter-spacing: 0;
}
.footer-logo-text span {
  color: var(--orange-font-color);
  font-weight: bold;
}
.contacts-title {
  font-size: 32px;
  color: var(--font-color);
  font-weight: normal;
  margin-bottom: 30px;
}
.contacts-links {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 14px;
  flex: 1;
}
.contacts-link {
  color: #b1b1b1;
  font-size: 28px;
  transition: 0.3s ease;
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}
.politic-text {
  color: var(--font-color);
  font-size: 28px;
}
/* Адаптив */

@media screen and (max-width: 1024px) {
  .header-main-container {
    flex-direction: column;
    gap: 20px;
  }

  .search-block {
    max-width: 100%;
    margin: 10px 0;
  }

  .menu {
    gap: 50px;
    flex-wrap: wrap;
  }

  .menu-link {
    font-size: 14px;
  }
  .footer-logo-text {
    font-size: 46px;
  }
}

@media screen and (max-width: 768px) {
  .reg-title {
    font-size: 42px;
    text-align: center;
  }

  .reg-container {
    padding: 30px 20px;
  }

  .email-input,
  .tel-input,
  .name-input,
  .password-input {
    height: 45px;
    font-size: 16px;
  }

  .captcha-text,
  .agreement-text {
    font-size: 16px;
  }

  .custom-checkbox .checkmark {
    width: 30px;
    height: 30px;
  }

  .send-btn {
    max-width: 100%;
    height: 50px;
    font-size: 20px;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-logo-block {
    order: 1;
  }

  .fast-links {
    order: 2;
    margin-bottom: 30px;
  }

  .contacts-links {
    align-items: start;
    order: 3;
  }

  .social-links {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .politic-text {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .logo-text {
    font-size: 32px;
  }
  .location-text {
    display: none;
  }

  .footer-logo-text {
    font-size: 32px;
  }

  .fast-link,
  .contacts-link {
    font-size: 20px;
  }

  .fast-link-title,
  .contacts-title {
    font-size: 24px;
    margin-bottom: 0px;
  }

  .politic-text {
    font-size: 18px;
    text-align: center;
    padding: 10px;
  }

  .search-input {
    font-size: 20px;
    height: 50px;
  }

  .search-icon {
    width: 24px;
    right: 8px;
  }

  .menu-link img {
    width: 24px;
    height: 24px;
  }
  .number-link {
    font-size: 20px;
  }
}
